*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */

.container{
  width: 80%;
  margin: 25px auto;
}

.clearfix::after{
  content: ' ';
  display: table;
  clear: both;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding-top: 25%;
  padding-left: 90px;
}



/* HEADER */


header .top{
  margin-bottom: 36px;
}

header .jumbotron{
  background-color: #e1d67a;
  height: 680px;
  max-width: 1513px;
  border-radius: 18px;
  background-image: url(./img/banner.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;

}

#logo{
  margin: 0.5% auto;
  width: 242px;
  max-width: 50%;
  padding-right: 35px;
  border-right: 1px solid gray;
}

/* MENU */

ul{
  list-style: none;
  padding-top: 40px;
}

ul li{
  display: inline-block;
  margin-right: 25px;
}

ul li a{
  text-decoration: none;
  color: gray;
}


/* MAIN */


main{
  background-color: #0086fe;
  padding-bottom: 30px;
}

.main-top{
  background-color: #abcfe7;
  height: 120px;
  margin-bottom: 35px;
}

.main-bottom{
  padding: 30px auto;
  
}

main .col{
  height: 800px;
  background-color: #abcfe7;
  float: left;
}

aside{
  width: 19%;
}

 section{
  width: 60%;
  margin: auto 1%
}

.overlay #title{
  font-size: 2.3rem;
  width: 54%;
  margin-bottom: 10px;
}

.jumbotron p{
  width: 50%;
  text-align: justify;
}
  

  


/* FOOTER */

footer{
  background-color: #8801fe;
  height: 100px;
}